@font-face {
  font-family: 'md-icon';
  src:  url('../iconfont/md-icon.eot?aumduw');
  src:  url('../iconfont/md-icon.eot?aumduw#iefix') format('embedded-opentype'),
    url('../iconfont/md-icon.ttf?aumduw') format('truetype'),
    url('../iconfont/md-icon.woff?aumduw') format('woff'),
    url('../iconfont/md-icon.svg?aumduw#md-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="md-icon-"], [class*=" md-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'md-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-icon-share:before {
  content: "\e924";
}
.md-icon-radar:before {
  content: "\e923";
}
.md-icon-time:before {
  content: "\e900";
}
.md-icon-refresh:before {
  content: "\e922";
}
.md-icon-bar:before {
  content: "\e91f";
}
.md-icon-indicator:before {
  content: "\e902";
}
.md-icon-map-widget:before {
  content: "\e901";
}
.md-icon-image:before {
  content: "\e920";
}
.md-icon-scene:before {
  content: "\e906";
}
.md-icon-xbar:before {
  content: "\e914";
}
.md-icon-title:before {
  content: "\e921";
}
.md-icon-return:before {
  content: "\e91d";
}
.md-icon-annular:before {
  content: "\e91e";
}
.md-icon-tips:before {
  content: "\e91c";
}
.md-icon-password:before {
  content: "\e919";
}
.md-icon-close:before {
  content: "\e91b";
}
.md-icon-level:before {
  content: "\e91a";
}
.md-icon-enlarge:before {
  content: "\e915";
}
.md-icon-narrow:before {
  content: "\e916";
}
.md-icon-move:before {
  content: "\e917";
}
.md-icon-drag:before {
  content: "\e918";
}
.md-icon-plus:before {
  content: "\e90f";
}
.md-icon-reduce:before {
  content: "\e912";
}
.md-icon-delete:before {
  content: "\e913";
}
.md-icon-other:before {
  content: "\e911";
}
.md-icon-line:before {
  content: "\e903";
}
.md-icon-text:before {
  content: "\e904";
}
.md-icon-preview:before {
  content: "\e905";
}
.md-icon-chart:before {
  content: "\e907";
}
.md-icon-data:before {
  content: "\e908";
}
.md-icon-search:before {
  content: "\e909";
}
.md-icon-setting:before {
  content: "\e90a";
}
.md-icon-user:before {
  content: "\e90b";
}
.md-icon-map:before {
  content: "\e90c";
}
.md-icon-dash-board:before {
  content: "\e90d";
}
.md-icon-pie:before {
  content: "\e90e";
}
.md-icon-save:before {
  content: "\e910";
}
